Btn {
    border: none;
    border-radius: 10px;
    background-color: #faf9f9;
    padding: 10px;
    margin: 3px;
}
btn {
    border: none;
    border-radius: 10px;
    background-color: #faf9f9;
    padding: 10px;
    margin: 3px;
}
Btn:hover {
    background-color: #abd4ef;
}
btn:hover {
    background-color: #abd4ef;
}
